<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />   
    <title>@ViewData["Title"] - Functioneel_Ontwerp_Site</title>   
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
<h1>Functioneel ontwerp site</h1>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    <aside>
     <p>Festivalplanning</p>   
    </aside>
    </div>

    <footer>
     Welkom bij ons festivalterein bent u al benieuwd?
    </footer>
 
</body>
</html>
