
body{
    margin:0;
}
h1{
    margin: 0;
}
header{
  background-color:red;
  height:100px;
  width: 100vw;
}
xxx{
    background-color:Indianred;
    width: 100vw;
    height: 800px;
    display: flex;
}
.content{
    display:flex;
}
footer {
    background-color:lightcoral;
    position: fixed;
    height: 70px;
    bottom: 0px;
    width: 100vw;
}
aside{
background-color: indianred;
position: fixed;
bottom: 0px;
}

header nav a{
    background-color: white;
    color: black;
    padding: 30px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
container {
    padding: 2rem;
} 
.cell {
    background-color: #0094ff;
    padding: 1rem;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.flex {
    display: flex;
    gap: 1rem;
}
.flex > .cell {
    flex-grow: 1;
}
.flex > .cell:nth-child(2) {
        flex-grow: 2;
    }
.contactform label {
    width: 100px; 
}
.contactform .field-validation-error {
    color: red;
    margin-left: 10px;
}