
body{
    margin:0;
}
h1{
    margin: 0;
}
header{
  background-color:red;
  height:100px;
  width: 100vw;
}
div{
    background-color:Indianred;
    width: 100vw;
    height: 800px;
    display: flex;
}
.content{
    display:flex;
}
footer {
    background-color:lightcoral;
    position: fixed;
    height: 70px;
    bottom: 0px;
    width: 100vw;
}
aside{
background-color: indianred;
position: fixed;
bottom: 0px;
}

header nav a{
    background-color: white;
    color: black;
    padding: 30px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}