@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<form>
 voornaam: <input type="text" name="firstname" />
 achternaam: <input type="text" name="lastname" />
 email: <input type="text" name="email" />
 <input type="submit" value="opslaan" />
</form>