@using Functioneel_Ontwerp_Site.Database
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
}

<div class="festivals">
    <h1 class="display-4">Welcome</h1>

    @foreach (var festival in Model)
    {
        <div class="festival">
            <a href="/festival/@festival.Id">@festival.Naam</a>
            <img src="@festival.Afbeelding"/>
        </div>
    }


</div>