@using Functioneel_Ontwerp_Site.Database
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @foreach (var festival in Model)
    {
        <a href="/festival/@festival.Id">@festival.Naam</a>
    }

</div>